/* Cairo Font Face Declarations */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 300;
  src: url('cairo-light.woff2') format('woff2'),
       url('cairo-light.woff') format('woff');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: url('cairo-regular.woff2') format('woff2'),
       url('cairo-regular.woff') format('woff');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 600;
  src: url('cairo-semibold.woff2') format('woff2'),
       url('cairo-semibold.woff') format('woff');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 700;
  src: url('cairo-bold.woff2') format('woff2'),
       url('cairo-bold.woff') format('woff');
}